[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pycodestyle = "*"

[packages]
flask = "*"
gunicorn = "*"
numpy = "*"
psycopg2 = "*"
jupyter = "*"
pandas = "*"
sklearn = "*"
category-encoders = "*"
keras = "*"
flask-wtf = "*"
wtforms = "*"
flask-bootstrap = "*"

[requires]
python_version = "3.7"
