{% extends 'base.html' %}
{% block content %}
    
    <div class='jumbotron'>
        
        <h1 class='display-4'>Readme</h1>
        <p class='lead'>
            Documentation for the Kickstart Success Passthrough App
        </p>
        <hr class='my-4'>
        <pre>
            This will be an explaination of what the app does.
            TODO: Description of how the json is created and passed to the app.
            TODO: Description of what the app does with the json.
            TODO: List of dependencies and such.
        </pre>

    </div>

{% endblock content %}